[Unit]
Description=Mystic G1 LCD Controller
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/mysticg1/mysticg1.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
